*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.toptop {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    line-height: 11.72px;
    font-style: normal;
    font-weight: 400;
    color: #F3F3F3;
    background-color:#222222;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#menu-ofertas{
    margin-left: 90px;
}
form{
    margin-right: 60px;
}
#moneda, #idioma{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    line-height: 11.72px;
    font-style: normal;
    font-weight: 400;
    color: #F3F3F3;
    background-color:#222222;
    border: none;
    margin-right: 12px;
}
.top{
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-style:normal;
    font-size: 13px;
    background-color: #F0A83E;
    height: 62px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.top nav{
    margin-right: 20px;
}
.top nav a{
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 20px;
}
.top nav a:active{
    color: #08571d;
}
.top img{
    margin-left: 40px;
}
.banner {
    height: 409px;
    background-image: url('../img/bowl-and-pet-daities-on-green-background\ 1.png');
    background-size: cover;
    position: relative;
}
.banner span{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
#boton1{
    font-size: 30px;
    background-color: #F3F3F3;
    padding: 10px;
    width: 365px;
    height: 54px;
    border-radius: 5px;
    position: absolute;
    right: 12px;
    top: 164px;
}
#boton2{
    color: #3C2313;
    font-size: 16px;
    width: 300px;
    height: 19px;
    position: absolute;
    right: 40px;
    top: 222px;
    margin-top: 12px;
}
#boton2::before{
    content: "¡Tenemos ";
    color: #3C2313;
    font-size: 16px;
}
#boton3{
    color: #FFFFFF;
    font-size: 16px;
    background-color: #F0A83E;
    border-radius: 5px;
    width: 141px;
    height: 49px;
    padding: 15px 23px;
    position: absolute;
    right: 117px;
    top: 253px;
    margin-top: 12px
}
.produc-destacados{
    position: relative;
}
#patita{
    position: absolute;
    top:20px;
    margin-left: 650px;
}
#tit1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;    
    color: #3C2313;
    width: 406px;
    height: 47px;
    position: absolute;
    top: 96px;
    left: 480px;
}
 #opciones{
    
    position: absolute;
    left: 540px;
    top: 163px;  
}
#opciones a{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;    
    color: #666666;
    margin-right: 30px;
    text-decoration: none;
}
#opciones a:hover{
    font-size: 18px;  
    color: #272927;
}
.produc-destacados .productos{
    position: absolute;
    top: 230px;
    bottom: 121px;
    left: 95px;
    right: 95px;
}
.productos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 230px;
}
.producto1, .producto2, .producto3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 265px;
    height: 312px;
    background-color: #FBFAF6;
    margin-left: 20px;
}
.nombre-produc{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #3C2313;
    width: 160px;
    height: 20px;
    text-align: center;
}
.precio-produc{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #F0A83E;
    width: 39px;
    height: 20px;
    text-align: center;
    margin-top: 1px;
}
.precio-produc:hover{
    font-weight: 700;
    font-size: 20px;
}
.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 340px;
    margin-top: 85px;
    margin-left: 540px;
}
.contacto h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;    
    color: #3C2313;
    width: 143px;
    height: 29px;
    text-align: center;
    margin-right: 50px;
    margin-bottom: 10px;
}
.contacto form input{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 9px;    
    color: white; 
    background-color: #3C2313;
    border-radius: 15px;
    width: 340px;
    padding: 15px;
    margin-top: 10px;
    border: none;
}
.contacto form input:focus{
    font-size: 12px;
    color:#78d4f0; 
}
#boton-reseteo{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;    
    color: #FFFFFF; 
    padding: 8px;
    text-align: center;
    background-color: #8A8787;
    width: 110px;
    border-radius: 15px;
    border: none;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 6px;
}
#boton-reseteo:hover{
    color: #78d4f0;
    font-size: 18px;

}
#boton-envio{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;    
    color: #FFFFFF; 
    padding: 8px;
    text-align: center;
    background-color:#F0A83E;
    width: 110px;
    border-radius: 15px;
    border: none;
}
#boton-envio:hover{
    color: #78d4f0;
    font-size: 18px;
}
.suscripcion{
    display: flex;
    background-color: #F0A83E;
    height: 60px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 75px;
}
.suscripcion img{
    width: 40px;
    height: 20px;
    margin-left: 25px;
}
.suscripcion span{
    width: 288px;
    height: 23px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
    margin-left: 10px;
}
#email{
    width: 271px;
    height: 40px;
    background-color: white;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 9px;
    color: #A0A0A0;
    border: none;
    padding: 8px;
}
#email:focus{
    font-size: 12px;
    color:#78d4f0; 
}
#boton{
    width: 70px;
    height: 34px;
    background-color: #3C2313;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 9px;
    color: white;
    padding: 10px;
    border: none;
}
.datos{
    display: flex;
    flex-direction: column;
    height: 284px;
    background-color: #3C2313;
}
.localidad, .telefono, .correo{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    margin-top: 20px;
    margin-left: 70px;
}
.datos span{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
    margin-left: 30px;
}
.datos span p{
    font-size: 10px;
    color: #8A8787;
}
#logo2{
    width: 166px;
    height: 23px;
    position: absolute;
    top: 1650px;
    right: 70px;
}
#derechos{
    background-color: #222222;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 10px;
    color: white;
    text-align: center;
}